::-webkit-input-placeholder { /* WebKit browsers */
  color: #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ccc;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ccc;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #ccc;
}
header{
  position: fixed;
}
button{
  border: none;
}
button:disabled{
  cursor: not-allowed;
  background-color: #da8c88!important;
}

